.content {
  margin-top: 56px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 92px;
}

@media screen and (max-width: 1279px) {
  .content {
    margin-top: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    gap: 88px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    gap: 64px;
  }
}
