.intro {
  margin: 0 auto;
  padding: 0;
  min-width: 984px;
}

@media screen and (max-width: 1279.19px) {
  .intro {
    min-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023.19px) {
  .intro {
    min-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767.19px) {
  .intro {
    min-width: calc(100% - 32px);
  }
}
